.skills-container {
    animation: skills-load 1s;
    margin-top: 100px;
    width: calc(min(95vw, 800px));
    color: white;
}

@keyframes skills-load {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateX(0);
    }
}

.skill-logos {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color: white;
    flex-wrap: wrap;
}

.skills-title {
    font-size: 70px;
    text-align: center;
}

.logo-image {
    width: 125px;
    height: 125px;
    margin: auto;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.25, 1.25);
    }
}

// @media screen and (max-width: 1000px) {
    // .skills-container {
    //     margin-left: 100px;
    //     margin-right: 100px;
    // }
    // .skills-title {
    //     font-size: 50px;
    // }
//   }

// @media screen and (min-width: 2000px) {
//     .skills-title {
//         font-size: 100px;
//     }
// }