.about-container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 100px;
    color: white;
    align-items: center;
    justify-content: center;
    width: calc(min(95vw, 800px));
}

.about-text {
    animation: about-text-load 1s;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: calc(max(20px, auto));
}

@keyframes about-text-load {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.about-image {
    animation: about-image-load 1s;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 300px;
    max-width: 400px;
    max-height: 600px;
    min-width: 200px;
    min-height: 300px;
}

@keyframes about-image-load {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

.about-title {
    font-size: 75px;
}

.about-description {
    margin-top: 40px;
    font-size: 11px;
    width: 250px;
}

// @media screen and (max-width: 1000px) {
    // .about-container {
    //     margin-left: 100px;
    //     margin-right: 100px;
    // }
    // .about-title {
    //     font-size: 75px;
    // }
    // .about-description {
    //     font-size: 11px;
    //     width: 250px;
    // }
//   }

// @media screen and (min-width: 2000px) {
    // .about-container {
    //     margin-left: 200px;
    //     margin-right: 200px;
    // }
    // .about-title {
    //     font-size: 150px;
    // }
    // .about-description {
    //     font-size: 22px;
    //     width: 500px;
    // }
// }