.about-container {
    display: flex;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 100px;
    color: white;
    align-items: center;
}

.about-text {
    animation: about-text-load 1s;
    display: flex;
    flex-direction: column;
}

@keyframes about-text-load {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.about-image {
    animation: about-image-load 1s;
    margin-left: auto;
    width: 20vw;
    height: 30vw;
    max-width: 400px;
    max-height: 600px;
    min-width: 200px;
    min-height: 300px;
}

@keyframes about-image-load {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

.about-title {
    font-size: 7.5vw;
}

.about-description {
    margin-top: 40px;
    font-size: 1.1vw;
    width: 25vw;
}

@media screen and (max-width: 1000px) {
    .about-container {
        margin-left: 200px;
        margin-right: 200px;
    }
    .about-title {
        font-size: 75px;
    }
    .about-description {
        font-size: 11px;
        width: 250px;
    }
  }

@media screen and (min-width: 2000px) {
    .about-container {
        margin-left: 400px;
        margin-right: 400px;
    }
    .about-title {
        font-size: 150px;
    }
    .about-description {
        font-size: 22px;
        width: 500px;
    }
}